#header
  %div
    #home
      = link_to "_HOME", topics_path, method: :get,class:"glyphicon glyphicon-home"
      #search
        <input id="to_search" type="text" placeholder=" Search" data-remote= "true">
    %h3
      = image_tag("tiy.png", size: "65x65")
      IRON TOPICS
    #logout
      -# %a.glyphicon.glyphicon-log-out{href: destroy_user_session_path, method: :delete}
      = link_to destroy_user_session_path, method: :delete do
        %span.glyphicon.glyphicon-log-out _LOGOUT

#spacer
