<div class="starRating">
  <input id="rating1" type="radio" name="rating" value="1">
  <input id="rating2" type="radio" name="rating" value="2">
  <input id="rating3" type="radio" name="rating" value="3">
  <input id="rating4" type="radio" name="rating" value="4">
  <input id="rating5" type="radio" name="rating" value="5">
</div>
