.topic_listing{ id: "topic_listing_#{topic.id}", data_topic_id: "#{topic.id}", data_toggle: "modal", data_target: ".bs-example-modal-lg" }
  %div
    .thing_holder
      .thing1=topic.focus
      .thing2
        interest score
        %span= topic.score
    %p= topic.title

  .edit
    - unless topic.comment_count > 0 || topic.user_id != current_user.id
      .edit_link editable
