<div id="topic_listing">
  <div> interest score <span><%= topic.score %></span></div>
  <%= link_to "#{topic.title}", topic_path(topic.id) %>
  <div id="edit_link">
    <% unless topic.comment_count > 0 || topic.user_id != current_user.id %>
        <%= link_to "edit", edit_topic_path(topic) %>
      <% end %>
  </div>
</div>
