= render 'navbar'
%p#add_topic
  Have a topic you want reviewed?
  %span{'data-toggle': "modal", 'data-target': ".bs-example-modal-lg"}
    \ Let's talk about it!

#topics
  = render @topic

.modal.fade.bs-example-modal-lg{tabindex: "-1", role:"dialog", aria_labelledby: "myLargeModalLabel"}
  .modal-dialog.modal-lg
    .modal-content
