<%= render 'navbar' %>
<p>Have a topic to be shared? <%= link_to " <Add it here>", new_topic_path %></p>

<div id="topics">
  <% @topic.each do |topic| %>
    <div id="topic_listing">
      <%= link_to "#{topic.title}", topic_path(topic.id) %>
    </div>
  <% end %>
</div>
