= render 'navbar'
#add_topic-mini
  .add_link{'data-toggle': "modal", 'data-target': ".bs-example-modal-lg"}
    \ Add a new topic
  #search-mini
    %input.to_search{ type: "text", placeholder: " Search", data_remote: "true" }
%p#add_topic
  Have a topic you want reviewed?
  %span.add_link{'data-toggle': "modal", 'data-target': ".bs-example-modal-lg"}
    \ Let's talk about it!
  %span#search-mini
    %input.to_search{ type: "text", placeholder: " Search", data_remote: "true" }

#topics
  = render @topic

.modal.fade.bs-example-modal-lg{tabindex: "-1", role:"dialog", aria_labelledby: "myLargeModalLabel"}
  .modal-dialog.modal-lg
    .modal-content
