<div id="wat">
<div id="noheader"></div>

<div id="main_log">
  <h2>Seellll yourrr sooouuulllll to theee gittzzzzzz....</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p>(then get to work by siging in...)</p>
      <%= link_to omniauth_authorize_path(resource_name, :github), class: "btn btn-social-icon btn-lrg btn-github" do %>
      <i class="fa fa-lg fa-github"></i>
      <%= t('.sign_in_with_provider', provider: "github".titleize, :default => "") %>
      <% end %>
  <% end %>
</div>
<div id="nofooter"></div>
</div>
