* {
  font-family: 'Palatino'
}

body {
  .notice, .alert {
    text-align: center;
    background-color: #1E3139;
    color: red;
    font-weight: bolder;
    margin: 0px;
    border-radius: 0px;
  }
}

#wat {
  height: 609px;
  width: 100%;
  text-align: center;
  background-color: #1E3139;
  #noheader {
    height: 200px;
  }
  #main_log {
    height: 150px;
    background-color: white;
    h2 {
      background-color: #1E3139;
      color: white;
      margin-top: 0px;
      padding-bottom: 8px;
    }
  }
  #nofooter {
    height: 259px;
  }
}

.fa-github {
  background: rgb(255,0,0);
  background: -moz-linear-gradient(top, rgb(255,0,0) 0%, rgb(255,161,79) 17%, rgb(255,255,5) 34%, rgb(120,255,10) 51%, rgb(15,75,255) 68%, rgb(99,15,255) 78%, rgb(255,23,15) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255,0,0)), color-stop(17%, rgb(255,161,79)), color-stop(34%, rgb(255,255,5)), color-stop(51%, rgb(120,255,10)), color-stop(68%, rgb(15,75,255)), color-stop(78%, rgb(99,15,255)), color-stop(100%, rgb(255,23,15)));
  background: -webkit-linear-gradient(top, rgb(255,0,0) 0%, rgb(255,161,79) 17%, rgb(255,255,5) 34%, rgb(120,255,10) 51%, rgb(15,75,255) 68%, rgb(99,15,255) 78%, rgb(255,23,15) 100%);
  background: -o-linear-gradient(top, rgb(255,0,0) 0%, rgb(255,161,79) 17%, rgb(255,255,5) 34%, rgb(120,255,10) 51%, rgb(15,75,255) 68%, rgb(99,15,255) 78%, rgb(255,23,15) 100%);
  background: -ms-linear-gradient(top, rgb(255,0,0) 0%, rgb(255,161,79) 17%, rgb(255,255,5) 34%, rgb(120,255,10) 51%, rgb(15,75,255) 68%, rgb(99,15,255) 78%, rgb(255,23,15) 100%);
  background: linear-gradient(to bottom, rgb(255,0,0) 0%, rgb(255,161,79) 17%, rgb(255,255,5) 34%, rgb(120,255,10) 51%, rgb(15,75,255) 68%, rgb(99,15,255) 78%, rgb(255,23,15) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff170f', GradientType=0 );
  color: black;
}

#header {
  div{
    display: flex;
    width: 100%;
    #home-mini {
      display: none;
    }
    #home {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      width: 15%;
      min-width: 165px;
      a {
        width: 95px;
        height: 20px;
        padding-left: 10px;
        color: #1E3139;
      }
      #search {
        padding-left: 10px;
        height: 30px;
        margin-top: 37.5px;
        :focus {
          outline: none !important;
          border:1px solid #1E3139;
          border-radius: 5px;
          box-shadow: 0 0 30px #1E3139;
        }
      }
    }
    h3 {
      text-align: center;
      font-family: 'Arbutus';
      color: #1E3139;
      padding-right: 7%;
      font-size: 50px;
      width: 76%;
      img {
        margin-bottom: 14px;
      }
    }
    #logout-mini {
      display: none;
    }
    #logout {
      width: 10%;
      min-width: 120px;
      margin-top: 10px;
      padding-left: 8px;
      a {
        height: 20px;
        color: #1E3139;
        font-family: 'Glyphicons Halflings';
        font-size: 19px;
        line-height: 1;
        span {
          display: inline;
        }
      }
    }
  }
}

#spacer {
  height: 30px;
  width: 100%;
  background-color: #1E3139;
}

#add_topic-mini {
  display: none;
}

#add_topic {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  .add_link {
    cursor: pointer;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
  #search-mini {
    display: none;
  }
}

#add_field {
  margin: 20px;
  #topic_title, #topic_description, #topic_focus, #topic_submit {
    font-size: 29px;
    width: 100%;
    margin: 5px;
    input {
      width: 100%;
      text-align: center;
      border-color: #ddd;
      &:hover {
        background-color: #00e600;
        border-color: green;
      }
    }
  }
}

#comment_page {
  margin: 4px;
  padding: 0px 20px;
}
.glyphicon {
  font-size: 19px;
}

.glyphicon-ok-sign {
  color: green;
  background-color: white;
  border-radius: 100%;
  margin: 1px;
}

.glyphicon-remove-circle {
  color: red;
  background-color: black;
  border-radius: 100%;
  margin: 1px;
}

#blank {
  color: white;
  // background-color: #f5f5f5;
  font-size: 16px;
}

#ratings {
  margin-left: 5px;
}

#user_rating {
  margin-left: 25px;
  padding: 0px;
}

#star_rating, #minus_rating {
  font-size: 12px;
  margin-left: 0px;
}

#minus_rating {
  color: #f5f5f5;
  background-color: #f5f5f5;
}

#topics {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  .topic_listing {
    cursor: pointer;
    background-color: #ddd;
    margin: 2px;
    width: 33%;
    border: 2px solid #1E3139;
    border-radius: 10px;
    &:hover {
      p {
        color: black;
        text-decoration: underline;
      }
    }
  }
  p {
    text-align: center;
    font-size: 27px;
    padding-top: 3px;
    margin: 0px;
    text-decoration: none;
    color: #59676D;
  }
  .edit {
    width: 100%;
    height: 20px;
    text-align: right;
    .edit_link {
      font-size: 16px;
      color: #999;
      padding-right: 4px;
    }
  }
}

.thing_holder {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-size: 14px;
  padding-top: 2px;

  .thing1 {
    width: 50%;
    padding-left: 5px;
    text-align: left;
  }

  .thing2 {
    width: 50%;
    padding-right: 5px;
    text-align: right;

    span {
      color: #00e600;
    }
  }
}

#title {
  margin-left: 10px;
  div {
    font-family: serif;
    font-size: 29px;
    display: inline;
  }
  #description {
    display: inline;
    font-size: 20px;
    font-weight: normal;
  }
}

#focus {
  margin-left: 10px;
  font-family: serif;
  font-size: 16px;
  div {
    font-weight: bold;
    display: inline;
  }
}

@media (max-width: 1212px) {
  #topics {
    .topic_listing {
      width: 32.7%;
    }
  }
  #header {
    div {
      h3 {
        padding-right: 5%;
      }
    }
  }
}

@media (max-width: 1000px) {
  #topics {
    .topic_listing {
      width: 49.5%;
    }
  }
  #header {
    div {
      h3 {
        padding-right: 3%;
      }
    }
  }
}

@media (max-width: 812px) {
  #topics {
    .topic_listing {
      width: 49%;
    }
  }
  #header {
    div {
      #home-mini {
        display: block;
        margin-top: 10px;
        width: 40px;
        a {
          margin-left: 5px;
          color: #1E3139;
        }
      }
      #home {
        display: none;
      }
      h3 {
        padding-right: 0px;
        width: 90%;
      }
      #logout-mini {
        display: block;
        width: 40px;
        margin-top: 10px;
        a {
          float: right;
          margin-right: 5px;
          color: #1E3139;
        }
      }
      #logout {
        display: none;
      }
    }
  }
  #add_topic {
    #search-mini {
      display: inline;
      float: right;
      width: 35%;
      padding-right: 6px;
      .to_search {
        width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    #topics {
      .topic_listing {
        width: 99%;
      }
    }
    #header {
      div {
        h3 {
          font-size: 37px;
          img {
            display: none;
          }
        }
      }
    }
    #add_topic {
      display: none;
    }
    #add_topic-mini {
      display: block;
      font-size: 37px;
      text-align: center;
      .add_link {
        cursor: pointer;
        color: blue;
        &:hover {
          text-decoration: underline;
        }
      }
      #search-mini {
        width: 100%;
        display: block;
        padding: 0 0 5px 0;
        .to_search {
          font-size: 37px;
          width: 100%;
        }
      }
    }
  }
}
