body {
  .notice, .alert {
    text-align: center;
    background-color: #444;
    color: white;
    font-weight: bolder;
    margin: 0px;
    border-radius: 0px;
  }
}

#wat {
  height: 609px;
  width: 100%;
  text-align: center;
  #noheader {
    height: 200px;
    background-color: #444;
  }
  #main_log {
    height: 150px;
    h2 {
      background-color: #444;
      color: white;
      margin-top: 0px;
      padding-bottom: 8px;
    }
  }
  #nofooter {
    height: 259px;
    background-color: #444;
  }
}

#header {
  // background-color: green;
}

#home , #logout{
  color: black;
}

#logout {
  float: right;
}

#comment_page {
  margin: 4px;
}
.glyphicon {
  font-size: 19px;
}

.glyphicon-ok-sign {
  color: green;
  background-color: white;
  border-radius: 100%;
  margin: 1px;
}

.glyphicon-remove-circle {
  color: red;
  background-color: black;
  border-radius: 100%;
  margin: 1px;
}

#blank {
  color: white;
  font-size: 16px;
}

#ratings {
  margin-left: 5px;
}

#user_rating {
  margin-left: 25px;
  padding: 0px;
}

#star_rating, #minus_rating {
  font-size: 12px;
  margin-left: 0px;
}

#minus_rating {
  color: white;
}

#topics {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  #topic_listing {
    margin: 2px;
    width: 33%;
    border: 2px solid black;
    text-align: center;
    font-size: 27px;
    a {
      text-decoration: none;
      color: #888;
      &:hover {
        color: black;
      }
    }
  }
}
